/* ===========================================================
  BASE
=========================================================== */
// Set global box-sizing to border-box, this is not an option!
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


/* ===========================================================
  OPTIONS
=========================================================== */
$grid-max-width   : 1240px !default; // The grid width, including gutter
// Gutters
$s-gutter-width   : 20px !default;
$m-gutter-width   : $s-gutter-width !default;
$l-gutter-width   : $m-gutter-width !default;

// Columns
$column-count     : 12 !default;

// Map of sizes
$sizes: 
  (
    640px,                            // Min-width
    767px,                            // Max-width
    m,                                // Prefix
    20px                              // Gutter
  ),
  (
    768px,                            // Min-width
    1023px,                           // Max-width
    l,                                // Prefix
    20px                              // Gutter
  ) !default;


/* ===========================================================
  COMMON
=========================================================== */
.row {
  margin: 0 auto;
  max-width: $grid-max-width;
  clear: both;
}

[class*="col-"] {
  float: left;
  padding-left: floor($s-gutter-width / 2);
  padding-right: floor($s-gutter-width / 2);
  display: block;
}

// Reset nested rows
.row > [class*="col-"] > .row {
  margin-left: ceil(-$s-gutter-width / 2);
  margin-right: ceil(-$s-gutter-width / 2);
}

/* ===========================================================
  SIZES
=========================================================== */
// Setup default columns (smallest screens)
@for $i from 1 through $column-count {
  .col-#{$i}-#{$column-count} {
    width: percentage($i / $column-count);
  }

  // Hide for default
  $smallest: nth($sizes, 1);
  @media screen and (max-width: #{nth($smallest, 1) - 1}) {
    .hide {
      display: none;
    }
  }  
}

// Create all different sizes
@each $size in $sizes {
  $min-width: nth($size, 1);
  $max-width: nth($size, 2);
  $prefix: nth($size, 3);
  $gutter: nth($size, 4);

  @media screen and (min-width: #{$min-width}) {
    [class*="col-"] {
      padding-left: floor($gutter / 2);
      padding-right: floor($gutter / 2);  
    }

    // Columns for size
    @for $i from 1 through $column-count {
      .col-#{$prefix}-#{$i}-#{$column-count} {
        width: percentage($i / $column-count);
      }  
    }
    
    // Hide for size and up
    .hide-for-#{$prefix}-up {
      display: none !important;
    }
  } 
  
  // Hide for specific size
  @media screen and (min-width: #{$min-width}) and (max-width: #{$max-width}) {
    .hide-for-#{$prefix} {
      display: none !important;
    }
  }
}
