/* =========================================================== *\
  BASE
\* =========================================================== */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* =========================================================== *\
  OPTIONS
\* =========================================================== */
/* =========================================================== *\
  MIXINS
  Note: Mixins prefixed with __ is meant to be private and not 
  used in the applications sass.
\* =========================================================== */
/**
 * Create classes to be able to reset floats
 */
/* =========================================================== *\
  COMMON
\* =========================================================== */
.row {
  margin: 0 auto;
  max-width: 1240px;
  *zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

/* =========================================================== *\
  DEFAULT (smallest)
\* =========================================================== */
.row {
  padding-left: 5px;
  padding-right: 5px; }

[class^="span-"] {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  width: 100%; }

.row > [class^="span-"] > .row {
  margin-left: -10px;
  margin-right: -10px; }

.row > .row {
  margin-left: -10px;
  margin-right: -10px; }

.span-1 {
  width: 8.33333%; }

.span-2 {
  width: 16.66667%; }

.span-3 {
  width: 25%; }

.span-4 {
  width: 33.33333%; }

.span-5 {
  width: 41.66667%; }

.span-6 {
  width: 50%; }

.span-7 {
  width: 58.33333%; }

.span-8 {
  width: 66.66667%; }

.span-9 {
  width: 75%; }

.span-10 {
  width: 83.33333%; }

.span-11 {
  width: 91.66667%; }

.span-12 {
  width: 100%; }

.span-clear {
  clear: left; }

@media screen and (max-width: 640px) {
  .hide {
    display: none; }
  [class^="span-"].offset-1 {
    margin-left: 8.33333%; }
  [class^="span-"].offset-2 {
    margin-left: 16.66667%; }
  [class^="span-"].offset-3 {
    margin-left: 25%; }
  [class^="span-"].offset-4 {
    margin-left: 33.33333%; }
  [class^="span-"].offset-5 {
    margin-left: 41.66667%; }
  [class^="span-"].offset-6 {
    margin-left: 50%; }
  [class^="span-"].offset-7 {
    margin-left: 58.33333%; }
  [class^="span-"].offset-8 {
    margin-left: 66.66667%; }
  [class^="span-"].offset-9 {
    margin-left: 75%; }
  [class^="span-"].offset-10 {
    margin-left: 83.33333%; }
  [class^="span-"].offset-11 {
    margin-left: 91.66667%; }
  [class^="span-"].offset-12 {
    margin-left: 100%; } }

/* =========================================================== *\
  SIZES
\* =========================================================== */
@media screen and (min-width: 641px) {
  .row {
    padding-left: 5px;
    padding-right: 5px; }
  .row > [class^="span-"] > .row {
    margin-left: -10px;
    margin-right: -10px; }
  .row > .row {
    margin-left: -10px;
    margin-right: -10px; }
  [class^="span-"] {
    padding-left: 5px;
    padding-right: 5px; }
  .span-md-1 {
    width: 8.33333%; }
  .span-md-2 {
    width: 16.66667%; }
  .span-md-3 {
    width: 25%; }
  .span-md-4 {
    width: 33.33333%; }
  .span-md-5 {
    width: 41.66667%; }
  .span-md-6 {
    width: 50%; }
  .span-md-7 {
    width: 58.33333%; }
  .span-md-8 {
    width: 66.66667%; }
  .span-md-9 {
    width: 75%; }
  .span-md-10 {
    width: 83.33333%; }
  .span-md-11 {
    width: 91.66667%; }
  .span-md-12 {
    width: 100%; }
  .span-md-clear {
    clear: left; }
  .hide-for-md-up {
    display: none !important; } }

@media screen and (min-width: 641px) and (max-width: 768px) {
  .hide-for-md {
    display: none !important; }
  [class^="span-"].offset-md-1 {
    margin-left: 8.33333%; }
  [class^="span-"].offset-md-2 {
    margin-left: 16.66667%; }
  [class^="span-"].offset-md-3 {
    margin-left: 25%; }
  [class^="span-"].offset-md-4 {
    margin-left: 33.33333%; }
  [class^="span-"].offset-md-5 {
    margin-left: 41.66667%; }
  [class^="span-"].offset-md-6 {
    margin-left: 50%; }
  [class^="span-"].offset-md-7 {
    margin-left: 58.33333%; }
  [class^="span-"].offset-md-8 {
    margin-left: 66.66667%; }
  [class^="span-"].offset-md-9 {
    margin-left: 75%; }
  [class^="span-"].offset-md-10 {
    margin-left: 83.33333%; }
  [class^="span-"].offset-md-11 {
    margin-left: 91.66667%; }
  [class^="span-"].offset-md-12 {
    margin-left: 100%; } }

@media screen and (min-width: 769px) {
  .row {
    padding-left: 10px;
    padding-right: 10px; }
  .row > [class^="span-"] > .row {
    margin-left: -20px;
    margin-right: -20px; }
  .row > .row {
    margin-left: -10px;
    margin-right: -10px; }
  [class^="span-"] {
    padding-left: 10px;
    padding-right: 10px; }
  .span-lg-1 {
    width: 8.33333%; }
  .span-lg-2 {
    width: 16.66667%; }
  .span-lg-3 {
    width: 25%; }
  .span-lg-4 {
    width: 33.33333%; }
  .span-lg-5 {
    width: 41.66667%; }
  .span-lg-6 {
    width: 50%; }
  .span-lg-7 {
    width: 58.33333%; }
  .span-lg-8 {
    width: 66.66667%; }
  .span-lg-9 {
    width: 75%; }
  .span-lg-10 {
    width: 83.33333%; }
  .span-lg-11 {
    width: 91.66667%; }
  .span-lg-12 {
    width: 100%; }
  .span-lg-clear {
    clear: left; }
  .hide-for-lg-up {
    display: none !important; } }

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .hide-for-lg {
    display: none !important; }
  [class^="span-"].offset-lg-1 {
    margin-left: 8.33333%; }
  [class^="span-"].offset-lg-2 {
    margin-left: 16.66667%; }
  [class^="span-"].offset-lg-3 {
    margin-left: 25%; }
  [class^="span-"].offset-lg-4 {
    margin-left: 33.33333%; }
  [class^="span-"].offset-lg-5 {
    margin-left: 41.66667%; }
  [class^="span-"].offset-lg-6 {
    margin-left: 50%; }
  [class^="span-"].offset-lg-7 {
    margin-left: 58.33333%; }
  [class^="span-"].offset-lg-8 {
    margin-left: 66.66667%; }
  [class^="span-"].offset-lg-9 {
    margin-left: 75%; }
  [class^="span-"].offset-lg-10 {
    margin-left: 83.33333%; }
  [class^="span-"].offset-lg-11 {
    margin-left: 91.66667%; }
  [class^="span-"].offset-lg-12 {
    margin-left: 100%; } }

@media screen and (min-width: 1025px) {
  .row {
    padding-left: 10px;
    padding-right: 10px; }
  .row > [class^="span-"] > .row {
    margin-left: -20px;
    margin-right: -20px; }
  .row > .row {
    margin-left: -10px;
    margin-right: -10px; }
  [class^="span-"] {
    padding-left: 10px;
    padding-right: 10px; }
  .span-xl-1 {
    width: 8.33333%; }
  .span-xl-2 {
    width: 16.66667%; }
  .span-xl-3 {
    width: 25%; }
  .span-xl-4 {
    width: 33.33333%; }
  .span-xl-5 {
    width: 41.66667%; }
  .span-xl-6 {
    width: 50%; }
  .span-xl-7 {
    width: 58.33333%; }
  .span-xl-8 {
    width: 66.66667%; }
  .span-xl-9 {
    width: 75%; }
  .span-xl-10 {
    width: 83.33333%; }
  .span-xl-11 {
    width: 91.66667%; }
  .span-xl-12 {
    width: 100%; }
  .span-xl-clear {
    clear: left; }
  .hide-for-xl-up {
    display: none !important; } }

@media screen and (min-width: 1025px) {
  .hide-for-xl {
    display: none !important; }
  [class^="span-"].offset-xl-1 {
    margin-left: 8.33333%; }
  [class^="span-"].offset-xl-2 {
    margin-left: 16.66667%; }
  [class^="span-"].offset-xl-3 {
    margin-left: 25%; }
  [class^="span-"].offset-xl-4 {
    margin-left: 33.33333%; }
  [class^="span-"].offset-xl-5 {
    margin-left: 41.66667%; }
  [class^="span-"].offset-xl-6 {
    margin-left: 50%; }
  [class^="span-"].offset-xl-7 {
    margin-left: 58.33333%; }
  [class^="span-"].offset-xl-8 {
    margin-left: 66.66667%; }
  [class^="span-"].offset-xl-9 {
    margin-left: 75%; }
  [class^="span-"].offset-xl-10 {
    margin-left: 83.33333%; }
  [class^="span-"].offset-xl-11 {
    margin-left: 91.66667%; }
  [class^="span-"].offset-xl-12 {
    margin-left: 100%; } }
