/* =========================================================== *\
  BASE
\* =========================================================== */
// Set global box-sizing to border-box, this is not an option!
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}





/* =========================================================== *\
  OPTIONS
\* =========================================================== */
$grid-max-width   : 1240px !default; // The grid width, including gutter
// Gutters
$default-gutter   : 10px !default;

// Columns
$column-count     : 12 !default;

// Map of sizes
$sizes: 
  (
    641px,                            // Min-width
    768px,                            // Max-width
    "md",                             // Prefix
    10px                              // Gutter
  ),
  (
    769px,                            // Min-width
    1024px,                           // Max-width
    "lg",                             // Prefix
    20px                              // Gutter
  ),
  (
    1025px,                           // Min-width
    false,                            // Max-width
    "xl",                             // Prefix
    20px                              // Gutter
  ) !default;





/* =========================================================== *\
  MIXINS
  Note: Mixins prefixed with __ is meant to be private and not 
  used in the applications sass.
\* =========================================================== */
@mixin __create-offset-classes($prefix) {
  $str: "";
  @for $i from 1 through $column-count {
    @if $prefix == "" {
      $str: #{$i};
    } @else {
      $str: #{$prefix}-#{$i};
    }
    [class^="span-"].offset-#{$str} {
      margin-left: percentage($i / $column-count);
    }
  }
}

@mixin __create-columns($prefix) {
  $str: "";
  @for $i from 1 through $column-count {
    @if $prefix == "" {
      $str: #{$i};
    } @else {
      $str: #{$prefix}-#{$i};
    }
    // Width
    .span-#{$str} {
      width: percentage($i / $column-count);
    }
  }
}

/**
 * Create classes to be able to reset floats
 */
@mixin __create-column-reset-class($prefix) {
  $str: "";
  @if $prefix == "" {
    $str: clear;
  } @else {
    $str: #{$prefix}-clear;
  }
  // Width
  .span-#{$str} {
    clear: left;
  }
}





/* =========================================================== *\
  COMMON
\* =========================================================== */
.row {
  margin: 0 auto;
  max-width: $grid-max-width;
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}





/* =========================================================== *\
  DEFAULT (smallest)
\* =========================================================== */
.row {
  padding-left: floor($default-gutter / 2);
  padding-right: floor($default-gutter / 2);
}

[class^="span-"] {
  float: left;
  padding-left: floor($default-gutter / 2);
  padding-right: floor($default-gutter / 2);
  display: block;
  width: 100%;
}

// Reset nested rows
.row > [class^="span-"] > .row {
  margin-left: -$default-gutter;
  margin-right: -$default-gutter;
}

// This is a just precaution. Handles rows within rows
// that are not wrapped in a column.
.row > .row {
  margin-left: -$default-gutter;
  margin-right: -$default-gutter; 
}

// Setup default columns (smallest screens)
@include __create-columns("");
// Setup default columns reset classes
@include __create-column-reset-class("");

$smallest: nth($sizes, 1);
$max-width: #{nth($smallest, 1) - 1};
@media screen and (max-width: $max-width) {
  // Hide for default (smallest)
  .hide {
    display: none;
  }
  
  // Create offset classes for default
  @include __create-offset-classes("");
}





/* =========================================================== *\
  SIZES
\* =========================================================== */
// Create all different sizes
@each $size in $sizes {
  $min-width: nth($size, 1);
  $max-width: nth($size, 2);
  $prefix: nth($size, 3);
  $gutter: nth($size, 4);

  @media screen and (min-width: #{$min-width}) {

    // Rows
    .row {
      padding-left: floor($gutter / 2);
      padding-right: floor($gutter / 2);
    }

    // Reset nested rows
    .row > [class^="span-"] > .row {
      margin-left: -$gutter;
      margin-right: -$gutter;
    }

    .row > .row {
      margin-left: -$default-gutter;
      margin-right: -$default-gutter; 
    }

    [class^="span-"] {
      padding-left: floor($gutter / 2);
      padding-right: floor($gutter / 2);  
    }
    
    // Create columns
    @include __create-columns($prefix);
    
    // Setup reset classes for size
    @include __create-column-reset-class($prefix);
    
    // Hide for size and up
    .hide-for-#{$prefix}-up {
      display: none !important;
    }
  } 
  
  // Hide for specific size
  @if $max-width == false {
    // The largest size doesn't have an -up class
    @media screen and (min-width: #{$min-width}) {
      .hide-for-#{$prefix} {
        display: none !important;
      }
      
      @include __create-offset-classes($prefix);
    }
  } @else {
    @media screen and (min-width: #{$min-width}) and (max-width: #{$max-width}) {
      .hide-for-#{$prefix} {
        display: none !important;
      }
      
      @include __create-offset-classes($prefix);
    }
  }
}
