/* ===========================================================
  BASE
=========================================================== */
// Set global box-sizing to border-box, this is not an option!
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


/* ===========================================================
  OPTIONS
=========================================================== */
$grid-max-width   : 1240px !default; // The grid width, including gutter
// Gutters
$default-gutter   : 10px !default;

// Columns
$column-count     : 12 !default;

// Map of sizes
$sizes: 
  (
    641px,                            // Min-width
    768px,                            // Max-width
    md,                               // Prefix
    10px                              // Gutter
  ),
  (
    769px,                            // Min-width
    1024px,                           // Max-width
    lg,                               // Prefix
    20px                              // Gutter
  ),
  (
    1025px,                           // Min-width
    false,                            // Max-width
    xl,                               // Prefix
    20px                              // Gutter
  ) !default;

/* ===========================================================
  MIXINS
  Note: Mixins prefixed with __ is meant to be private and not 
  used in the applications sass.
=========================================================== */
@mixin __setup-offset-classes($prefix) {
  @for $i from 1 through $column-count {
    @if $prefix == "" {
      $str: #{$i};
    } @else {
      $str: #{$prefix}-#{$i};
    }
    [class*="col-"].offset-#{$str} {
      margin-left: percentage($i / $column-count);
    }
  }
}

@mixin __setup-columns($prefix) {
  @for $i from 1 through $column-count {
    @if $prefix == "" {
      $str: #{$i};
    } @else {
      $str: #{$prefix}-#{$i};
    }
    // Width
    .col-#{$str} {
      width: percentage($i / $column-count);
    }
  }
}


/* ===========================================================
  COMMON
=========================================================== */
.row {
  margin: 0 auto;
  max-width: $grid-max-width;
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

/* ===========================================================
  DEFAULT (Smallest)
=========================================================== */
.row {
  padding-left: floor($default-gutter / 2);
  padding-right: floor($default-gutter / 2);
}

[class*="col-"] {
  float: left;
  padding-left: floor($default-gutter / 2);
  padding-right: floor($default-gutter / 2);
  display: block;
  width: 100%;
}

// Reset nested rows
.row > [class*="col-"] > .row {
  margin-left: -$default-gutter;
  margin-right: -$default-gutter;
}

.row > .row {
  margin-left: -$default-gutter;
  margin-right: -$default-gutter; 
}

// Setup default columns (smallest screens)
@include __setup-columns("");

$smallest: nth($sizes, 1);
$max-width: #{nth($smallest, 1) - 1};
@media screen and (max-width: $max-width) {
  // Hide for default (smallest)
  .hide {
    display: none;
  }
  
  // Create offset classes for default
  @include __setup-offset-classes("");
}

/* ===========================================================
  SIZES
=========================================================== */
// Create all different sizes
@each $size in $sizes {
  $min-width: nth($size, 1);
  $max-width: nth($size, 2);
  $prefix: nth($size, 3);
  $gutter: nth($size, 4);

  @media screen and (min-width: #{$min-width}) {

    // Rows
    .row {
      padding-left: floor($gutter / 2);
      padding-right: floor($gutter / 2);
    }

    // Reset nested rows
    .row > [class*="col-"] > .row {
      margin-left: -$gutter;
      margin-right: -$gutter;
    }

    .row > .row {
      margin-left: -$default-gutter;
      margin-right: -$default-gutter; 
    }

    [class*="col-"] {
      padding-left: floor($gutter / 2);
      padding-right: floor($gutter / 2);  
    }

    @include __setup-columns($prefix);
    
    // Hide for size and up
    .hide-for-#{$prefix}-up {
      display: none !important;
    }
  } 
  
  // Hide for specific size
  @if $max-width == false {
    // The largest size doesn't have an -up class
    @media screen and (min-width: #{$min-width}) {
      .hide-for-#{$prefix} {
        display: none !important;
      }
      
      @include __setup-offset-classes($prefix);
    }
  } @else {
    @media screen and (min-width: #{$min-width}) and (max-width: #{$max-width}) {
      .hide-for-#{$prefix} {
        display: none !important;
      }
      
      @include __setup-offset-classes($prefix);
    }
  }
}
